<div class="grid-map1">
 <div class="card-user">
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="IMAGEPROFIL" alt="Admin" >
                    <div class="user_info">
                      <h1><%= @client.first_name %> <%= @client.last_name %></h1>
                      <h6> <%= @client.email %></h6>
                    </div>
 </div>

<div class="bookings-history"> <% @bookings.each do |booking| %>
  <h4><%= booking.time_slot.sport_class.name %></h4>
   <h6><%= humanize(booking.time_slot.start_at)  %> , <%= humanize_hours(booking.time_slot.start_at)  %></h6>
   <h6><%= humanize(booking.time_slot.end_at)  %> , <%= humanize_hours(booking.time_slot.end_at)  %></h6>
<% end %>
 </div>
