<% if false %>




    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Mr._Bean_2011.jpg">
        </div>
        <div class="team-content">
         <% @clients.each do |client| %>
            <%= link_to client_profile_path(client) do %>
              <h3 class="name"><%= client.first_name %> <%= client.last_name %></h3>
             <% end %>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= client.email %> </p>
        </div>
      </div>
    </div>
</div>

<% end %>




  <div class="row">
    <% @clients.each do |client| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to client_profile_path(client) do %>
          <div class="mb-2 our-team">
            <div class="picture">
              <img class="img-fluid" src="https://www.decoparty.fr/wp-content/uploads/2018/04/rowan-atkinson-mr-bean-face-mask-product-image.jpg">
            </div>
            <div class="team-content">
              <h3 class="name"><%= client.first_name %> <%= client.last_name %></h3>
              <h4 class="title"><%= client.email %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
