
  <div class="titre-general">
  <h1>Clients </h1>
  </div>
  <div class="row">
    <% @clients.each do |client| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to client_profile_path(client) do %>
          <div class="mb-2 our-team">
            <div class="picture">
              <img class="img-fluid" src="<%= client.avatar_url %>">
            </div>
            <div class="team-content">
              <h3 class="name"><%= client.last_name %> <%= client.first_name %> </h3>
              <h4 class="title"><%= client.email %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
