<div id='external-events'>
  <p>
    <strong>Draggable Events</strong>
  </p>

  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 1</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 2</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 3</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 4</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>My Event 5</div>
  </div>
  <p>
    <input type='checkbox' id='drop-remove' />
    <label for='drop-remove'>remove after drop</label>
  </p>
</div>


<div class="container">
  <h1>Calendrier coach</h1>

<div id="coach_calendar" style="width: 800px; height: 200px" data-calendar-id="22" data-events=<%= @yoga_events.to_json%>>
</div>




<div class="container">
  <h1>Calendrier Client</h1>
<div id="client_calendar" style="width: 800px; height: 200px" data-calendar-id="22" data-events=<%= @yoga_events.to_json%>>
</div>


<p>coucou</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form id="form1" action="" method="get" class="form-example">
          <div class="form-example">
            <label for="name">Choose a class: </label>
         <div data-controller="hello>">
            <input type="text" name="name" id="name" required>
          </div>
        <div class="form-example">
            <label for="date">Enter a date: </label>
            <input type="date" id="date" name="date" required >
          </div>
          <div class="form-example">
            <label for="email">Enter a debut time: </label>
            <input type="time" id="debut_time" name="debut_time" required >
          </div>
            <div class="form-example">
            <label for="email">Enter a ending time: </label>
            <input type="time" id="ending_time" name="ending_time" required >
          </div>
          <div class="form-example">
            <input type="submit" value="Validate">
          </div>
        </form>

        <hr>
        <hr>
        <hr>
        <hr>
        <h3>Vrai formulaire</h3>

        <%= simple_form_for([@sport_class, @time_slot]) do |f| %>
          <%= f.input :level %>
          <%= f.input :group_size %>
          <%= f.input :price %>
          <%= f.input :start_at, html5: true %>
          <%= f.input :end_at, html5: true %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :address1 %>
          <%= f.input :address2 %>
          <%= f.input :post_code %>
          <%= f.input :town %>

          <%= f.submit %>
      <% end %>







        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<p>ici</p>
