
<div  id="viewport">
    <br>
    <%= Date.today %>
      <% if current_user.nil? %>
        <p>Merci de vous connecter à votre espace coach</p>
      <% else %>
       <h1>Bienvenue <%=current_user.first_name %>!</h1>

  <div class="card-agenda">
    <div class="card-features">
        <% @time_slots.each do |time_slot| %>
          <div class="card-slot">
            <div class="item-timeslot"><p><%= time_slot.start_at.strftime('%H:%M') %></p></div>
            <div class="item-timeslot"><p><%= time_slot.name %></p></div>
            <div class="item-timeslot"><p><%= time_slot.level %></p></div>
            <div class="item-timeslot"><p><%= time_slot.group_size %></p></div>
            <div class="item-timeslot"><p><%= time_slot.sport_class.duration %></p></div>
          </div>
        <% end %>
    </div>
  </div>
    <% end %>
</div>
