
<div  id="viewport">
    <div class="titre">
      <% if current_user.nil? %>
        <p>Merci de vous connecter à votre espace coach</p>
      <% else %>
       <h1>Bienvenue <%=current_user.first_name %>!</h1>


<div class="box">
  <div class="clock">
    <span class="seconds"></span>
    <span class="hours"></span>
    <span class="minutes"></span>
  </div>
  <div class="date">
    <div id="daymonth"><%= l Date.today, format: '%d %B' %></div>
    <div id="year"><%= l Date.today, format: '%Y' %></div>
  </div>
</div>
    </div>
       <%# <div class="calendar">
       <i class="far fa-calendar"></i>
       <h2 class="calendar-date">  <%= Date.today.strftime('%d.%m.%Y') %> </h2>
       <%# </div> %>

  <div class="card-agenda">
    <div class="card-features">
    <div class="card-slot-top">
    <h6>Horaire</h6>
    <div class="width"><h6>Nom de la séance</h6></div>
    <h6>Niveau</h6>
    <h6>Durée</h6>
    <h6>Capacité</h6>
    </div>
        <% @time_slots.each do |time_slot| %>
          <div class="card-slot">
            <div class="item-timeslot"><p><%= time_slot.start_at.strftime('%H:%M') %></p></div>
            <div class="width overflow-auto "><p><%= time_slot.name %></p></div>
            <div class="item-timeslot"><p><%= time_slot.level %></p></div>
            <div class="item-timeslot"><p><%= time_slot.sport_class.duration %> min</p></div>
            <div class="item-timeslot"><p><%= time_slot.group_size %><i class="fas fa-user-friends"></i></p></div>
          </div>
        <% end %>
    </div>
  </div>
    <% end %>
</div>
