
  <div class="top_barre">
  <h1>Voici le catalogue de vos séances de sport:</h1>
  <%= link_to 'Ajouter une séance de sport', new_sport_class_path, class: "button1" %>
  </div>



  <div class="cards-grid">
    <% @sport_classes.each do |sport_class| %>
      <div class="card">
          <div class="card-corps">
          <%= link_to sport_class_path(sport_class) do %>
              <h4 class="card-title"><%= sport_class.category %></h4>
            <div class="card-body">
            <h6 class="card-text"> <%= sport_class.name %></h6>
            <p class="card-text"><%= sport_class.level %></p>
              <p class="card-description overflow-auto">Description: <%= sport_class.description %></p>
            </div>
            <div class="details">
              <p class="card-text"><%= sport_class.group_size %><i class="fas fa-user-friends"></i></i></p>
              <p class="card-center"><%= sport_class.price.to_i %> €</p>
              <p class="card-text"><%= sport_class.duration %> min</p>
<%# ////////// %>
            </div>
          </div>
        <% end %>
            <div class="button">
              <%= link_to "", sport_class, method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash" %>
              <%= link_to "", edit_sport_class_path(sport_class), class: "fas fa-pen" %>
            </div>
      </div>
    <% end %>
  </div>


<%# <% console if Rails.env.development? %>
