<div id="viewport">
  <%= link_to '', sport_classes_path, class:"fas fa-arrow-circle-left" %>
  <div class="container_registration">
  <h2>Séance de sport</h2>
    <%= simple_form_for(@sport_class) do |f| %>
      <%= f.input :category , label: false, label: 'Catégorie', collection: SportClass::SPORT_CATEGORY%>
      <%= f.input :name,label: false, placeholder: 'Nom'  %>
      <%= f.input :description, label: false, placeholder: 'Description' %>
      <%= f.input :level,
                  label: "Niveau",
                  as: :radio_buttons,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item',
                  collection: SportClass::LEVELS%>
      <%= f.input :group_size,label: false, label: 'Type de groupe',
                  as: :radio_buttons,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item',
                  collection: ['Individuel', 'Collectif'] %>
      <%= f.input :group_size, label: 'Capacité maximale', collection: 1..30 %>
      <%= f.input :price,label: false, placeholder: 'Prix' %>
      <%= f.input :address1, label: false, placeholder: 'Adresse' %>
      <%= f.input :address2, label: false, placeholder: 'Adresse bis' %>
      <div class="form-group1">
        <%= f.input :post_code, label: false, placeholder: 'Code postale' %>
        <%= f.input :town, label: false, placeholder: 'Ville' %>
      </div>
      <%= f.hidden_field :coach_id,  :value => current_user.id %>

      <div class="button2">
        <%= f.button :submit,label: false, placeholder: 'Enregistrer' %>
      </div>
    <% end %>

  </div>
</div>
