<div class="container_registration">
<h2>Séance de sport</h2>

<% if policy(sport_class).create? %>
  <%= simple_form_for(@sport_class) do |f| %>
  <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :coach %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Back', users_user_profile_path %>

</div>
</div>
