<div id="viewport">
  <%= link_to 'Back', user_sport_classes_path %>
  <div class="container_registration">
  <h2>Séance de sport</h2>
    <%= simple_form_for(@sport_class) do |f| %>
    <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :coach %>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>
</div>
