<div id="viewport">
<%= link_to '', sport_classes_path, class:"fas fa-arrow-circle-left" %>
  <div class="card-sport" >
      <div class="card-show">
          <div class="card-corps">
        <p class="card-title"><%= @sport_class.category %></p>
       <div class="card-body">
        <h6 class="card-text"><%= @sport_class.name %></h6>
        <h5 class="card-description-show"><strong>Description: </strong> <%= @sport_class.description %></h5>
        <div class="details-show">
          <p class="card-text"><%= @sport_class.group_size %><i class="fas fa-user-friends"></i></i></p>
          <p class="card-center-show"><%= @sport_class.price %> €</p>
          <p class="card-center-show2"><%= @sport_class.duration %> min</p>
          <p class="card-text"><%= @sport_class.level %></p>
        </div>
          <div class="button">
          <%= link_to "", @sport_class, method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash" %>
          <%= link_to "", edit_sport_class_path(@sport_class), class: "fas fa-pen" %>
          </div>
      </div>
  </div>
</div>
