<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>COACHEO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div id="sidebar">
      <%= link_to root_path do %>
        <h1>Coach'eo</h1>
      <% end %>
      <% if current_user.present? %>
      <ul class="nsidebar">
        <li>
        <i class="fas fa-home"></i> <%= link_to "Tableau de bord", root_path%>
        </li>
        <li>
          <i class="fas fa-calendar-week"></i> <%= link_to "Agenda", calendar_path %>
        </li>
        <li>
          <i class="fas fa-users"></i><%= link_to "Clients", user_clients_path  %>
        </li>
        <li>
          <i class="fas fa-dumbbell"></i><%= link_to "Catalogue cours", sport_classes_path %>
        </li>
      </ul>
      <% end %>
    </div>

    <div class="main-container">
      <%= render 'shared/navbar' %>
      <div class="container">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
