<!DOCTYPE html>
<html>
  <head>
    <title>COACHEO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <ul class="nsidebar">
      <li>
        <a href="#">
          <i></i> Agenda
        </a>
      </li>
      <li>
        <a href="#">
          <i></i> Clients
        </a>
      </li>
      <li>
        <a <%= link_to "Séance de sport", sport_classes_path %>> </a>
        </a>
      </li>
    </ul>
  </div>
</div>
    <%# <section> </section> %>
     <%# <div class="footer_top"></div> %>
<footer>
      <div class="text-center">
        <p class="mb-0 py-2">© 2021 Coach'eo rights reserved.</p>
      </div>
</footer>
  </body>
</html>
