<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>COACHEO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

<%# <div id="viewport"> %>
  <!-- Sidebar -->
  <div id="sidebar">
    <h1>Coach'eo</h1>
    <% if current_user.present? %>
    <ul class="nsidebar">
      <li>
      <i class="fas fa-home"></i> <%= link_to "Tableau de bord", root_path%>
      </li>
      <li>
        <i class="fas fa-calendar-week"></i> <%= link_to "Agenda", fullcalendar_path %>
      </li>
      <li>
        <i class="fas fa-users"></i><%= link_to "Clients", root_path %>
      </li>
      <li>
        <i class="fas fa-dumbbell"></i><%= link_to "Séance de sport", sport_classes_path %>
      </li>
    </ul>
    <% end %>
  </div>
    <%# <div class="footer_top"></div> %>
    <%= yield %>
<%# <footer>
      <div class="text-center">
        <p class="mb-0 py-2">© 2021 Coach'eo rights reserved.</p>
      </div>
</footer> %>
  </body>
</html>
