<!DOCTYPE html>
<html>
  <head>
    <title>COACHEO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    </div>
    <section> </section>
    <div class="footer_top"></div>
<footer>
      <div class="text-center">
        <p class="mb-0 py-2">© 2021 Plushes Bnb All rights reserved.</p>
      </div>
</footer>
  </body>
</html>
